.container {
  height: calc(100vh-100px);
  background-color: darkslategrey;
  display: flex;
}

.item {
  flex: 1;
  position: relative;
  display: flex;
  padding: 50px;
}

.card {
  flex: 1;
  text-align: center;
}

.title {
  font-size: 18px;
  color: #b7903c;
}

.text {
  color: lightgray;
}

.motto {
  color: rgb(211, 211, 211);
}
