.container {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 1;
  padding: 30px 0;
}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}

.title {
  margin-bottom: 20px;
}

.price {
  color: #d1411e;
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid #d1411e;
  margin-bottom: 20px;
  display: inline-block;
}

.desc {
  margin-bottom: 20px;
  max-width: 70%;
}

.choose {
  margin-bottom: 20px;
}

.sizes {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-bottom: 20px;
}

.size {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.size:nth-child(2) {
  width: 50px;
  height: 50px;
}

.size:last-child {
  width: 60px;
  height: 60px;
}

.number {
  position: absolute;
  top: -5px;
  right: -30px;
  background-color: teal;
  color: white;
  font-size: -12px;
  padding: 0 5px;
  border-radius: 10px;
}

.ingredients {
  display: flex;
  margin-bottom: 30px;
}

.option {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.quantity {
  width: 50px;
  padding: 0;
  height: 28px;
  text-align: center;
  border-width: 0.1rem;
}

.button {
  height: 30px;
  margin-left: 10px;
  background-color: #d1411e;
  color: white;
  border: none;
  font-weight: 525;
  font-size: medium;
  cursor: pointer;
}
